<div class="about-container">
    <p id="userDescription" runat="server" class="about-description">
        This is user's description. Very interesting bla bla..
    </p>
    <div class="align-right">
        <p>Name:</p>
        <p>Gender:</p>
        <p>Date of birth:</p>
    </div>
    <div class="align-left">
        <strong>
            <p>Mr Potato</p>
            <p>Unspecified</p>
            <p>1990-01-01</p>
        </strong>
    </div>
</div>