<div class="about-container">
        <% if (locals.userInfo && !(userInfo.description === "")) { %>
    <p id="userDescription" runat="server" class="about-description">
            <%= userInfo.description %>
    </p>
    <% } %>
    <div class="align-right">
        <p>Name:</p>
        <p>Gender:</p>
        <p>Date of birth:</p>
    </div>
    <div class="align-left">
        <strong>
            <% if (locals.userInfo) { %>
            <p><%= userInfo.fname + ' ' + userInfo.lname %></p>
            <% let gender = 'other';
                if (userInfo.gender === 'm') gender = 'male';
                if (userInfo.gender === 'f') gender = 'female'; %>
            <p><%= gender %></p>
            <p><%= dateformat(userInfo.dob, 'yyyy, mmmm dS') %></p>
            <% } %>
        </strong>
    </div>
</div>