<div class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-left" href="/">LOGO nume</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="/">Home</a> </li>
                <li class="nav-item"><a class="nav-link <% if(!userLoggedIn) { %> disabledLink <% } %>" href="/recommendations">Recommendations</a> </li>
                <li class="nav-item"><a class="nav-link <% if(!userLoggedIn) { %> disabledLink <% } %>" href="/watchlist">Watchlist</a> </li>
                <li class="nav-item"><a class="nav-link <% if(!userLoggedIn) { %> disabledLink <% } %>" href="/seen">Seen</a> </li>
                <li class="nav-item"><a class="nav-link <% if(!userLoggedIn) { %> disabledLink <% } %>" href="/community">Community</a> </li>
                <div class="navVerticalDivider"></div>
                <li class="nav-item"><a class="nav-link " href="/explore">Explore</a> </li>
                <li class="nav-item"><a class="nav-link" href="/search">Search</a> </li>
            </ul>
            <% if (!userLoggedIn) { %>
                <ul class="nav navbar-nav navbar-right">
                    <button id="btnLogin" class="btn btn-link" type="button" data-toggle="modal" data-target="#popUpWindow">Login</button>
                    <button id="btnSignUp" class="btn btn-primary" type="button">Sign Up</button>
                </ul>
            <%} else { %>
                <ul class="nav navbar-nav navbar-right">
                        <li>
                            <div class="container">
                                <div class="dropdown">
                                    <img class="btn dropdown-toggle btnDropdown" style="cursor: pointer;" src="../images/profile-placeholder.png" alt="dropdown image" data-toggle="dropdown">
                                    <ul class="dropdown-menu">
                                        <li><a id="btnProfile" class="btn btn-link" href="/profile">Profile</a></li>
                                        <li><button id="btnSignOut" class="btn btn-link">Sign Out</button></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    
                    </ul>
            <% } %>
        </div>
    </div>

    <!-- Login Form -->
    <%- include modal-form %>