<div class="rating" data-vote="0">

                <div class="star hidden">
                  <span class="full"data-value="0"></span>
                  <!-- <span class="half"data-value="0"></span> -->
                </div>
              
                <div class="star">
              
                  <span class="full star1" data-value="1"></span>
                  <!-- <span class="half" data-value="0.5"></span> -->
                  <span class="selected"></span>
              
                </div>
              
                <div class="star">
              
                  <span class="full star2" data-value="2"></span>
                  <!-- <span class="half" data-value="1.5"></span> -->
                  <span class="selected"></span>
              
                </div>
              
                <div class="star">
              
                  <span class="full star3" data-value="3"></span>
                  <!-- <span class="half" data-value="2.5"></span> -->
                  <span class="selected"></span>
              
                </div>
              
                <div class="star">
              
                  <span class="full star4" data-value="4"></span>
                  <!-- <span class="half" data-value="3.5"></span> -->
                  <span class="selected"></span>
              
                </div>
              
                <div class="star">
              
                  <span class="full star5" data-value="5"></span>
                  <!-- <span class="half" data-value="4.5"></span> -->
                  <span class="selected"></span>
              
                </div>
              
                <input type="hidden" class='js-score'/>


              </div>

              
<!--
    <div class="rating-group">
            <label aria-label="0 stars" class="rating__label" for="rating2-0" >&nbsp;</label>
            <input class="rating__input rating__input--none" name="rating2" id="rating2-0" value="0" type="radio" <% if (movie.userRating == 0) { %> checked <% } %>>
            <label aria-label="0.5 stars" class="rating__label rating__label--half" for="rating2-05"><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
            <input class="rating__input" name="rating2" id="rating2-05" value="0.5" type="radio" <% if (movie.userRating == 0.5) { %> checked <% } %>>
            <label aria-label="1 star" class="rating__label" for="rating2-10"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
            <input class="rating__input" name="rating2" id="rating2-10" value="1" type="radio" <% if (movie.userRating == 1) { %> checked <% } %>>
            <label aria-label="1.5 stars" class="rating__label rating__label--half" for="rating2-15"><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
            <input class="rating__input" name="rating2" id="rating2-15" value="1.5" type="radio" <% if (movie.userRating == 1.5) { %> checked <% } %>>
            <label aria-label="2 stars" class="rating__label" for="rating2-20"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
            <input class="rating__input" name="rating2" id="rating2-20" value="2" type="radio" <% if (movie.userRating == 2) { %> checked <% } %>>
            <label aria-label="2.5 stars" class="rating__label rating__label--half" for="rating2-25"><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
            <input class="rating__input" name="rating2" id="rating2-25" value="2.5" type="radio" <% if (movie.userRating == 2.5) { %> checked <% } %>>
            <label aria-label="3 stars" class="rating__label" for="rating2-30"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
            <input class="rating__input" name="rating2" id="rating2-30" value="3" type="radio" <% if (movie.userRating == 3) { %> checked <% } %>>
            <label aria-label="3.5 stars" class="rating__label rating__label--half" for="rating2-35"><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
            <input class="rating__input" name="rating2" id="rating2-35" value="3.5" type="radio" <% if (movie.userRating == 3.5) { %> checked <% } %>>
            <label aria-label="4 stars" class="rating__label" for="rating2-40"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
            <input class="rating__input" name="rating2" id="rating2-40" value="4" type="radio" <% if (movie.userRating == 4) { %> checked <% } %>>
            <label aria-label="4.5 stars" class="rating__label rating__label--half" for="rating2-45"><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
            <input class="rating__input" name="rating2" id="rating2-45" value="4.5" type="radio" <% if (movie.userRating == 4.5) { %> checked <% } %>>
            <label aria-label="5 stars" class="rating__label" for="rating2-50"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
            <input class="rating__input" name="rating2" id="rating2-50" value="5" type="radio" <% if (movie.userRating == 5) { %> checked <% } %>>
        </div>-->
