<div class="moviesContainer">
    <% if (locals.moviesData) {
            if (moviesData.length == 0) { %>

        <p>Nothing to show yet.</p>

        <% } else {
            for(var i = 0; i < moviesData.length; i++) {
                let movie = moviesData[i]; %>
            <a href="/viewMovie?movieId=<%= movie.imdbID %>">
                <div class="content movieContainer">
                    <span class="fa fa-ban removeIcon"></span>
                    <div class="movieCover" style="background-image: url(<%= movie.Poster %>)"></div>
                    <h5 class="movieTitle">
                        <%= movie.Title %>
                    </h5>
                    <div class="watchlistMovieOptions">
                        <%- include rating %>
                    </div>
                </div>
            </a>
            <% }}} %>
</div>