<div class="moviesContainer">
    <div class="content movieContainer">
        <span class="fa fa-ban removeIcon"></span>
        <div class="movieCover" style="background-image: url(https://static.highsnobiety.com/wp-content/uploads/2017/08/24235415/blade-runner-2049-official-poster-001-480x740.jpg)">
        </div>
        <h5 class="movieTitle">Blade Runner</h5>
        <div class="watchlistMovieOptions">
            <button type="button" class="btn btn-default optionButton">
                <span class="fa fa-check-circle buttonIcon"></span>Seen
            </button>     
        </div>
    </div>
    
</div>