<!DOCTYPE html>
<html>

<head>
    <title>Home</title>

    <% include ../partials/head %>
        <link rel="stylesheet" type="text/css" href="../css/movies.css">
</head>

<body>

    <% include ../partials/navbar %>
        <div class="mainContainer">
            <p><a href="/explore"><span class="fa fa-arrow-left titleIcon"></span>Back to All Categories</a></p>
            <h4 class="pageTitle">
                <span class="fa fa-chevron-circle-down titleIcon"></span>Movies by Genre: Comedy</h4>
            <div class="moviesContainer">
                <div class="content movieContainer">
                    <div class="movieCover" style="background-image: url(https://static.highsnobiety.com/wp-content/uploads/2017/08/24235415/blade-runner-2049-official-poster-001-480x740.jpg)">
                    </div>
                    <h5 class="movieTitle">Blade Runner</h5>
                    <div class="recommendationsMovieOptions">
                        <button type="button" class="btn btn-default optionButton">
                            <span class="fa fa-bookmark buttonIcon"></span>Watchlist
                        </button>
                        <button type="button" class="btn btn-default optionButton">
                            <span class="fa fa-check buttonIcon"></span>Seen
                        </button>
                    </div>
                </div>

            </div>

        </div>



</body>

</html>