<!DOCTYPE html>
<html>

<head>
    <title>Home</title>

    <% include ../partials/head %>
        <link rel="stylesheet" type="text/css" href="../css/community.css">
</head>

<body>

    <% include ../partials/navbar %>
        <div class="mainContainer">
            <h4 class="pageTitle">
                <span class="fa fa-users titleIcon"></span>Community</h4>
            <div class="usersContainer">
                <a href="/profile">
                <div class="content userContainer">
                    <div class="userPhoto" style="background-image: url(../images/profile-placeholder.png)">
                    </div>      
                    <div class="userInfo">
                    <h4 class="userName">Mr Potato</h4>
                    <p>Watchlist <span class="blueText">12</span> | Seen <span class="blueText">69</span></p>
                </div>
                </div>
            </a>
            </div>

        </div>

</body>

</html>