<!DOCTYPE html>
<html>

<head>
    <title>Home</title>

    <% include ../partials/head %>
</head>

<body>

    <% include ../partials/navbar %>
        <div class="mainContainer" style="text-align: center;">
            <h1 class="pageTitle">Welcome to MOVIE TIME!</h1>
            <h4>Create an account </h4>
            <img src="../images/arrow.png" height="60px">
            <h4>Customize your profile</h4>
            <img src="../images/arrow.png" height="60px">
            <h4>Rate at least 15 movies</h4>
            <img src="../images/arrow.png" height="60px"> <br>
            <img src="../images/banner.png" height="30%">

        </div>


</body>

</html>