<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    
    <% include ../partials/head %>
</head>

<body>

    <% include ../partials/navbar %>
        <div class="mainContainer">
            <h4 class="pageTitle">Recently added</h4>

        </div>


</body>

</html>