<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    
    <% include ../partials/head %>
    <link rel="stylesheet" type="text/css" href="">
</head>

<body>

    <% include ../partials/navbar %>
        <div class="mainContainer">
                <h4 class="pageTitle"><span class="fa fa-check-circle titleIcon"></span>Movies You Have Seen</h4>
            <%- include ../partials/seen %>

        </div>


</body>

</html>