<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    
    <% include ../partials/head %>
    <link rel="stylesheet" type="text/css" href="">
</head>

<body>

    <% include ../partials/navbar %>
        <div class="mainContainer">
            <%- include ../partials/seen %>

        </div>


</body>

</html>